@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");

:root {
  --accent: hsl(204, 63%, 84%);
  --accent-hover: hsl(204, 60%, 76%);
  --background: #fff;
  --warn: hsl(0, 54%, 79%);
  --warn-hover: hsl(0, 75%, 72%);
  --highlight: hsl(204, 48%, 87%);
  --border: #4d4d4d;
  --border-light: #c4c4c4;
  --currency-green: #357f16;
  --currency-red: #a84646;
  --action: #525252;
  --error: #da2626;
  --success: #58be2d;
  --stale: #ff8c00;
  --gray: hsl(0, 0%, 96%);
  --gray-hover: hsl(0, 0%, 89%);

  --border-radius: 4px;
  --spacing-xs: 0.15em;
  --spacing-sm: 0.3em;
  --spacing-md: 0.5em;
  --spacing-lg: 0.7em;
}

:root.dark {
  --background: #252525;
  --border: #969696;
  --border-light: #6e6e6e;
  --action: #ffffff;
  --accent: hsl(210, 34%, 38%);
  --accent-hover: hsl(210, 39%, 48%);
  --success: #63d035;
  --warn: hsl(0, 33%, 50%);
  --warn-hover: hsl(0, 33%, 59%);
  --error: #ff6c6c;
  --highlight: hsla(0, 0%, 91%, 0.2);
  --currency-green: #61d231;
  --currency-red: #ff9595;
  --gray: hsl(0, 0%, 26%);
  --gray-hover: hsl(0, 0%, 36%);

  color: white;
}

html {
  font-size: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  margin: 0;
  background-color: var(--background);
}

button {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
}
button:focus-visible {
  outline-color: var(--border);
}

.flex-row {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.flex-grow {
  flex-grow: 1;
}

.flex-1 {
  flex: 1 1 0%;
}

.justify-between {
  justify-content: space-between;
}

.min-w-0 {
  min-width: 0;
}

.hide-overflow {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.gap-0 {
  gap: 0px;
}

.gap-xs {
  gap: var(--spacing-xs);
}

.gap-sm {
  gap: var(--spacing-sm);
}

.gap-lg {
  gap: var(--spacing-lg);
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-input input,
.form-input textarea {
  padding: 4px;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  font-family: inherit;
  font-size: 1em;
}

.form-input input:not(:disabled),
.form-input textarea:not(:disabled) {
  color: currentColor;
  background-color: var(--background);
}

.form-input input:focus,
.form-input textarea:focus {
  outline-color: var(--border);
}

.form-input input.item-selected {
  border: 1px solid transparent;
  background: var(--accent);
  color: currentColor;
  padding-right: 1.6em;
  text-overflow: ellipsis;
}

.heading-big {
  display: flex;
  align-items: center;
  gap: 3px;

  margin-block: var(--spacing-sm);

  font-size: 1.25em;
  font-weight: 600;
}

.heading-medium {
  display: flex;
  align-items: center;
  gap: 3px;

  margin-block: var(--spacing-xs);

  font-size: 1.1em;
  font-weight: 600;
}

.heading-small {
  margin-block: var(--spacing-sm);
  font-weight: 600;
}

.heading-bordered {
  border-bottom: solid 1px var(--border-light);
}

.balance-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-lg);

  padding: 3px 0px;
  border-bottom: solid 1px var(--border-light);
}
.balance-display:not(:hover) span.hidden {
  color: transparent;
}

li:last-child .balance-display {
  border-bottom-color: transparent;
}

.balance-actions {
  display: flex;
  gap: 1px;
}

.button {
  cursor: pointer;
  padding: var(--spacing-sm) 0.7em;
  text-align: center;
}

.icon-button {
  padding: 1px;

  background: none;
  border: none;
  line-height: 0;
  cursor: pointer;
}
.icon-button:active:not(.noaction) {
  transform: scale(0.95);
}
.icon-button.rounded {
  border: none;
  border-radius: 50%;
}
.icon-button.spin {
  animation: spin 1s linear infinite;
}
.icon-button.noaction {
  cursor: initial;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.select {
  padding: 0.3em;
  font-family: inherit;
  font-size: inherit;
  background-color: var(--background);
  color: currentColor;
}

.select-dropdown-list {
  position: absolute;
  top: 100%;
  z-index: 100;

  max-height: 8rem;
  width: 99%;
  margin: 0;
  padding: 0;

  background-color: var(--background);
  overflow-y: auto;
  list-style: none;
}

.select-dropdown-heading {
  padding-left: var(--spacing-sm);
  margin-block: var(--spacing-sm);

  font-size: 1.05em;
  font-weight: 600;
}

.select-dropdown-item {
  padding: 2px 0 2px var(--spacing-sm);
  width: auto;
  cursor: pointer;
}
.select-dropdown-item.highlighted {
  background-color: var(--highlight);
}
.select-dropdown-item.selected {
  font-weight: bold;
}
.select-dropdown-item.virtual {
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
}

.select-button-right {
  position: absolute;
  right: 3px;
  top: 1px;
}

.rounded {
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
}

.accent:not(:disabled) {
  background-color: var(--accent);
}

.accent:hover:not(:disabled) {
  background-color: var(--accent-hover);
}

.warn:not(:disabled) {
  background-color: var(--warn);
}

.warn:hover:not(:disabled) {
  background-color: var(--warn-hover);
}

.gray:not(:disabled) {
  background-color: var(--gray);
}

.gray:hover:not(:disabled) {
  background-color: var(--gray-hover);
}

.error-message {
  color: var(--error);
}

.currency {
  font-weight: 500;
}
.currency.positive {
  color: var(--currency-green);
}
.currency.negative {
  color: var(--currency-red);
}

.mt-sm {
  margin-top: var(--spacing-sm);
}

.mt-md {
  margin-top: var(--spacing-md);
}

.mt-lg {
  margin-top: var(--spacing-lg);
}

.mt-xxl {
  margin-top: 5em;
}

.mb-sm {
  margin-bottom: var(--spacing-sm);
}

.mb-lg {
  margin-bottom: var(--spacing-lg);
}

.pb-sm {
  padding-bottom: var(--spacing-sm);
}

.pb-lg {
  padding-bottom: var(--spacing-lg);
}

.font-big {
  font-size: 2em;
}

.cursor-pointer {
  cursor: pointer;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
