PEEK_PORT=8080
PEEK_LOG_LEVEL=info

# 32-byte random hexadecimal string
PEEK_TOKEN_KEY=

# YNAB OAuth
PEEK_YNAB_CLIENT_ID=
PEEK_YNAB_SECRET=

# Set to test CORS policy, use your local extension's ID
# PEEK_ALLOWED_ORIGINS=chrome-extension://<your-local-extension-id>
