@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");

:root {
  --accent: #ffffff;
  --accent-hover: #ebf7ff;
  --warn: #e6abab;
  --warn-hover: #ed8282;
  --border: #4d4d4d;
  --border-radius: 4px;
  --currency-green: #357f16;
  --currency-red: #a84646;
  --currency-hidden-bg: #d1d1d1;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
}

.flex-row {
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
}

.heading-big {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-block: 4px;

  font-size: 18px;
  font-weight: bold;
}

.heading-medium {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 4px;

  font-size: 15px;
  font-weight: bold;
}

.balance-display {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 1.6rem;
  margin-block: 2px;
  border-bottom: solid 1px #ddd;
  padding-right: 2px;
  padding-bottom: 0.5px;
}

.button {
  cursor: pointer;
  padding: 0.4rem 0.7rem;
  text-align: center;
}

.icon-button {
  padding: 1px;

  background: none;
  border: none;
  line-height: 0;
  cursor: pointer;
}
.icon-button:hover {
  transform: scale(1.05);
}
.icon-button:active {
  transform: scale(0.95);
}

.select {
  padding: 0.3rem;
  background-color: var(--accent);
}

.rounded {
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
}

.accent {
  background-color: var(--accent);
}

.accent:hover {
  background-color: var(--accent-hover);
}

.warn {
  background-color: var(--warn);
}

.warn:hover {
  background-color: var(--warn-hover);
}

.currency {
  font-weight: 500;
}
.currency.hidden {
  color: transparent;
  background-color: var(--currency-hidden-bg);
  padding-right: 1.2rem;
  cursor: default;
}
.currency.hidden:hover {
  background-color: white;
}
.currency.positive,
.currency.positive.hidden:hover {
  color: var(--currency-green);
}
.currency.negative,
.currency.negative.hidden:hover {
  color: var(--currency-red);
}

.mb-small {
  margin-bottom: 4;
}

.font-big {
  font-size: 1.5rem;
}

.cursor-pointer {
  cursor: pointer;
}
