@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap");

:root {
  --accent: hsl(204, 100%, 96%);
  --accent-hover: hsl(204, 100%, 88%);
  --warn: #e6abab;
  --warn-hover: #ed8282;
  --border: #4d4d4d;
  --border-light: #c4c4c4;
  --border-radius: 4px;
  --currency-green: #357f16;
  --currency-red: #a84646;
  --currency-hidden-bg: #d1d1d1;
  --error: #da2626;
  --success: #58be2d;
  --stale: #ff8c00;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
}

.flex-row {
  display: flex;
  align-items: center;
  gap: 6px;
  width: fit-content;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-input input,
.form-input textarea {
  padding: 4px;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  font-family: "Open Sans", sans-serif;
}

.heading-big {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-block: 4px;

  font-size: 17px;
  font-weight: bold;
}

.heading-medium {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 4px;

  font-size: 14px;
  font-weight: 500;
}

.heading-bordered {
  padding-inline: 3px;
  border-radius: var(--border-radius);
  border: solid 1px var(--border-light);
}

.balance-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;

  height: 1.6rem;
  margin-block: 2px;
  margin-left: 3px;
  padding-right: 2px;
  padding-bottom: 0.5px;
  border-bottom: solid 1px #ddd;

  cursor: default;
}
.balance-display:not(:hover) span.hidden {
  color: transparent;
}

.button {
  cursor: pointer;
  padding: 0.4rem 0.7rem;
  text-align: center;
}

.icon-button {
  padding: 1px;

  background: none;
  border: none;
  line-height: 0;
  cursor: pointer;
}
.icon-button:hover:not(.noaction) {
  transform: scale(1.05);
}
.icon-button:active:not(.noaction) {
  transform: scale(0.95);
}
.icon-button.spin {
  animation: spin 1s linear infinite;
}

.icon-button.noaction {
  cursor: initial;
}

.select {
  padding: 0.3rem;
  background-color: white;
  font-family: "Open Sans", sans-serif;
}

.select-dropdown-list {
  position: absolute;
  max-height: 8rem;
  width: 14rem;
  margin: 0;
  margin-top: 27px;
  padding: 0;
  padding-left: 5px;

  background-color: #fff;
  overflow-y: auto;
  list-style: none;
}

.select-dropdown-item {
  padding-bottom: 3px;
  cursor: pointer;
}
.select-dropdown-item.highlighted {
  background-color: var(--accent-hover);
}
.select-dropdown-item.selected {
  font-weight: bold;
}

.rounded {
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
}

.accent:not(:disabled) {
  background-color: var(--accent);
}

.accent:hover:not(:disabled) {
  background-color: var(--accent-hover);
}

.warn {
  background-color: var(--warn);
}

.warn:hover {
  background-color: var(--warn-hover);
}

.error-message {
  color: var(--error);
}

.currency {
  font-weight: 500;
}
.currency.positive {
  color: var(--currency-green);
}
.currency.negative {
  color: var(--currency-red);
}

.mt-big {
  margin-top: 2rem;
}

.mt-xxl {
  margin-top: 5rem;
}

.mb-small {
  margin-bottom: 6px;
}

.font-big {
  font-size: 1.5rem;
}

.cursor-pointer {
  cursor: pointer;
}

.loading-spinner {
  display: inline-block;
  width: 12px;
  height: 12px;
}
.loading-spinner::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  /* line-height: 0; */
  border-radius: 50%;
  border: 2px dotted;
  border-color: lightblue lightblue transparent;
  animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
