# YNAB OAuth
YNAB_CLIENT_ID=
YNAB_SECRET=

# 32-byte random hexadecimal string
TOKEN_KEY=

# Set to test CORS policy, use your local extension's ID
# ALLOWED_ORIGINS=chrome-extension://<your-local-extension-id>
